<?xml version="1.0" ?>
<robot name="hexapod" xmlns:xacro="http://www.ros.org/wiki/xacro">
<!--Ros2 control-->
<ros2_control name="hexapod" type="system">
  <hardware>
    <plugin>ign_ros2_control/IgnitionSystem</plugin>
  </hardware>

  <joint name="Revolute_63">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_64">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_65">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_69">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_70">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_71">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_72">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_73">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_74">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_75">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_76">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>

  <joint name="Revolute_77">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>

  <joint name="Revolute_78">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_79">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_80">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_81">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_82">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  <joint name="Revolute_83">
    <command_interface name="velocity">
    <param name="min">-1</param>
    <param name="max">1</param>
    </command_interface>
    
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
  
  
</ros2_control>
<gazebo>
  <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
    <parameters>$(find hexapod_control)/config/hexapod_controller.yaml</parameters>
  </plugin>
</gazebo>
</robot>