<?xml version="1.0" ?>
<robot name="hexapod" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--Ros2 control-->
<ros2_control name="hexapod" type="system">
  <hardware>
    <plugin>ign_ros2_control/IgnitionSystem</plugin>
  </hardware>

  <joint name="Leg_1_coxa">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_2_coxa">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_3_coxa">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_1_tibia">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_2_tibia">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_3_tibia">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_1_femur">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_2_femur">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_3_femur">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_6_femur">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_4_coxa">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>

  <joint name="Leg_5_coxa">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>

  <joint name="Leg_6_coxa">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_4_tibia">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_5_tibia">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_6_tibia">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_4_femur">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  <joint name="Leg_5_femur">
    <command_interface name="position">
    <param name="min">-1.57</param>
    <param name="max">1.57</param>
    </command_interface>
    
    <state_interface name="position">
        <param name="initial_value">0</param>
    </state_interface>
    <state_interface name="velocity"/>
    <state_interface name="effort"/>
    <limit>
      <velocity>100.0</velocity> 
    </limit>
  </joint>
  
  
</ros2_control>
<gazebo>
  <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
    <parameters>$(find hexapod_control)/config/hexapod_controller.yaml</parameters>
  </plugin>
</gazebo>
</robot>